<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp12_MySQL.Properties.Settings.TutorialsDBConnectionString"
            connectionString="Data Source=DESKTOP-7VJN7FE\TUTORIALSSQL;Initial Catalog=TutorialsDB;User ID=sa;Password=yeInM273"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>